<nav class="woocommerce-pagination">
  <ul class="page-numbers">
    <li><span aria-current="page" class="page-numbers current">1</span></li>
    <li><a
        class="page-numbers"
        href="https://katerina.co.nz/product-category/new-in/page/2/"
      >2</a></li>
    <li><a
        class="page-numbers"
        href="https://katerina.co.nz/product-category/new-in/page/3/"
      >3</a></li>
    <li><a
        class="page-numbers"
        href="https://katerina.co.nz/product-category/new-in/page/4/"
      >4</a></li>
    <li><a
        class="page-numbers"
        href="https://katerina.co.nz/product-category/new-in/page/5/"
      >5</a></li>
    <li><a
        class="next page-numbers"
        href="https://katerina.co.nz/product-category/new-in/page/2/"
      >→</a></li>
  </ul>
</nav>