<form
role="search"
  method="get"
  class="search-form"
  action="https://katerina.co.nz/"
>
  <label>
    <span class="screen-reader-text">Search for:</span>
    <input
      type="search"
      class="search-field"
      placeholder="Search …"
      value=""
      name="s"
    />
  </label>
  <input type="submit" class="search-submit" value="Search" />
</form>
<a
  href="https://katerina.co.nz/sale"
  class="button button-zero-margin show-for-medium"
>Sale</a>
<a href="https://katerina.co.nz/cart" class="button button-zero-margin">Cart</a>