<div class="backed">
  <div class="top-bar">
    <h4 class="global-padding-top">All prices are in New Zealand dollars.</h4>
    <h4 class="text-right global-padding-top">Call us on <a href="tel:021 112 7683">021 112 7683</a>
  </div>
</div>