<div class="top-bar">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="cell auto">
        <h4 class="global-padding-top">All prices are in New Zealand dollars.</h4>
      </div>
      <div class="cell shrink show-for-medium">
        <h4 class="text-right global-padding-top">Call us on
          <a href="tel:021 112 7683" class="body-color-link">021 112 7683</a></h4>
      </div>
    </div>
  </div>
</div>