/*------------------------------------*\
    #LISTS
\*------------------------------------*/

/**
 * 1) List base styles
 */

/**
  * Remove list styles from unordered and ordered lists
  */
ol,
ul {
  list-style: none;
}

/*------------------------------------*\
    #katerina
\*------------------------------------*/

nav > ul {
  width: 100%;
  max-width: 75rem;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

nav > ul > li {
  flex: 0 1 10rem;
  text-align: center;
}

nav > ul > li > a {
  display: block;
  border-radius: 4px;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  padding-block-start: 0.5rem;
  padding-block-end: 0.5rem;
}

nav > ul > li > a:hover {
  background-color: $medium-gray;
}


/*------------------------------------*\
  #footer
\*------------------------------------*/
footer nav > ul {
  justify-content: center;
  width: max-content;
  margin: 0 auto;
  flex-wrap: nowrap;
}
